/* !!!!!!!!!!!!!! npm run sass !!!!!!!!!!!! */

@import 'mixin';
@import 'variables';

.modal {
  @include popupGrandientColor;
  position: absolute;
  top: 50vh;
  z-index: 500;
  font-size: 7vmin;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  animation: heartBeat;
  animation-duration: 2s;
  &.stop {
    display: none;
  }
}