/* !!!!!!!!!!!!!! npm run sass !!!!!!!!!!!! */
@import 'variables';
@import 'mixin';

.item {
  &.hidden {
    @include backgroundImage('./../img/logo.jpg');
    /* background-color: rgba(245, 245, 220, 0.103); */
    /* background-color: $backgoundItemColor; */
    /*  transform: rotateY(180deg);  */

    &:hover {
      /* background-color: $backgoundItemColorHover; */
      cursor: pointer;
      animation: zoomOut;
      animation-duration: 1s;
    }
  }
  &.hidden > p img {
    visibility: hidden;
  }
  // anim intro
  &.intro {
    animation: bounceIn;
    animation-duration: 3s;
  }
}

.item.finded {
  color: aquamarine;
}

h1 {
  animation: bounceIn;
  animation-duration: 6s;
}
