/* !!!!!!!!!!!!!! npm run sass !!!!!!!!!!!! */
@import 'variables';
@import 'mixin';

.item {
  &.hidden {
    @include backgroundImage('./../img/logo.jpg');
    animation: bounceIn;
    animation-duration: 3s;
    &:hover {
      cursor: pointer;
      animation: heartBeat;
      animation-duration: 2s;
    }
  }
  &.hidden > p img {
    visibility: hidden;
  }
}

.container.win {
  animation: bounceIn;
  animation-duration: 3s;
}

h1 {
  animation: fadeIn;
  animation-duration: 0.5s; 
  width: 100%;
  text-align: center;
}


.cardFound {
  animation: jello;
  animation-duration: 5s;
}

.win {
  animation: wobble;
  animation-duration: 20s;
}

.title-found {
  @include modalGrandientColor;
  animation: flash;
  animation-duration: 1s;
}

.finded {
  animation: rubberBand;
  animation-duration: 1s;
}

