/* !!!!!!!!!!!!!! npm run sass !!!!!!!!!!!! */


$generalFontColor : rgb(144, 209, 84);
$titleFontColor : rgb(26, 204, 64);
$backgroundColor : rgb(8, 31, 41);
$backgoundItemColor : rgb(95, 156, 122);
$backgoundItemColorHover : rgb(133, 206, 166);



$generalFontSize : 1.5rem;
$titleFontSize: 10vmin;